/* Altid gældene ting  */


/* Body Stuff */


/* Box/article/Manglende Aflevering Stuff */

.NewsTeaser__teaser {
    height: 100%;
    background: #fff;
    padding: 20px;
}

.NewsTeaser__teaser-header {
    margin: 0;
    word-break: break-word;
}

.NewsTeaser__teaser-link {
    color: #333;
    display: block;
}

.NewsTeaser__teaser-section-link {
    text-transform: uppercase;
    color: #0177ff;
    font-weight: 800;
    display: inline-block;
    transition: all .2s;
}

/* Lys article*/

.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) {
    padding: 8px 20px 20px;
}

@media (min-width: 768px){
.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) {
    margin: 0;
    padding: 11px 40px 25px;
}}

@media (min-width: 1024px){
.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) {
    padding: 8px 20px 30px;
}}


.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) .NewsTeaser__teaser-header {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .26px;
}

@media (min-width: 768px){
.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) .NewsTeaser__teaser-header {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .3px;
}}

@media (min-width: 1024px){
.NewsTeaser__teaser-fullwidth-horizontal:not(.NewsTeaser__teaser-with-image) .NewsTeaser__teaser-header {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .3px;
}
}

/* Mørk article */

.NewsTeaser__teaser-dark {
    background: #333;
    color: #fff;
}

.NewsTeaser__teaser-dark .NewsTeaser__teaser-header {
    color: #fff;
}

.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-header {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .21px;
}
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-section-link {
    font-size: 11px;
    line-height: 26px;
    letter-spacing: .26px;
    margin-bottom: -1px;
    cursor: pointer;
}

@media (min-width: 768px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-section-link {
    font-size: 12px;
    margin-bottom: 1px;
}
}

@media (min-width: 1024px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-section-link {
    margin-bottom: 5px;
}}



@media (min-width: 768px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-header {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .34px;
}}

@media (min-width: 1024px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image .NewsTeaser__teaser-header {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .3px;
}}

.NewsTeaser__teaser-dark {
    background: #333;
    color: #fff;
}

@media (min-width: 1024px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image {
    padding: 20px 20px 13px;
}
}

@media (min-width: 768px){
.NewsTeaser__teaser-fullwidth-horizontal.NewsTeaser__teaser-with-image {
    margin: 0;
    padding: 20px 40px 13px;
}
}


/* Graf / skoleskema */


/* Seneste nyehder Stuff */

ul {
    margin-top: 0;
}

ul {
    margin-bottom: 1rem;
}

li {
    display: list-item;
}
.LatestNews__wrapper ul {
    padding: 0;
    margin: 0;
}

.LatestNews__row .LatestNews__date {
    padding-bottom: 5px;
}

.LatestNews__row .LatestNews__category, .LatestNews__row time {
    color: #0177ff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 4px;
}

.LatestNews__wrapper {
    display: block;
    color: #333;
    background: #fff;
    padding: 26px 20px 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    position: relative;
}

.LatestNews__row {
    position: relative;
    width: 100%;
    list-style: none;
    line-height: 14px;
    margin-bottom: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAGXRFW…UAAAAdSURBVHjaYjQ2Nv7PAARnzpxhZEACTAw4AECAAQCq3gQBPBGL/AAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
}

.LatestNews__row .LatestNews__title {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .24px;
    line-height: 19px;
    display: block;
    padding-bottom: 9px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media (min-width: 768px){
.LatestNews__wrapper h2 {
    font-size: 24px;
    line-height: 28px;
}}

@media (min-width: 1024px){
.frontpage.var-1 .background-for-wallpaper .latest-news>div, .frontpage.var-2 .background-for-wallpaper .latest-news>div {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    margin-bottom: 20px;
}}
.LatestNews__wrapper h2 {
    font-weight: 700;
    letter-spacing: -.41px;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 21px;
}

/* Footer Stuff */


