@charset "UTF-8";
body {
  background-color: #f8f9fb;
  font-family: Roboto;
  /* Standard skrifttype og baggrundsfarve */
}

h1 {
  color: #0168ff;
  font-size: xx-large;
  /* Standard header med farven blå og skrifttypen Roboto */
}

p {
  color: #47505e;
  /* Standard paragraf med farven grå og skrifttypen Roboto */
}

#loginboks {
  width: 400px;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: #fdfdfd;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  /* Formatering til loginboksen */
}

#logo {
  text-align: center;
  max-width: 100%;
  height: auto;
}

input.inputtekst {
  border-radius: 16px;
  font-size: large;
  height: 30px;
  border-style: solid;
  padding-left: 10px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #e7e7e7;
  /* Formatering til tekstfelter */
}

input.inputknap {
  border-radius: 16px;
  font-size: large;
  width: 200px;
  height: 30px;
  background-color: #0168ff;
  color: #dfe1e6;
  border-style: none;
  font-family: Roboto;
  /* Formatering til knap */
}

.inputknap:hover {
  background-color: #0051c9;
  /* Farve til når mus er over knap */
}

.inputknap:focus {
  background-color: #0042a3;
  /* Farve når man klikker på knap */
}

.sidebar {
  background-color: #0168ff;
  width: 66px;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: auto;
}

.sidebar .min-logo {
  padding: 15px;
}

.sidebar .hjem-knap {
  padding-left: 23px;
  padding-top: 6cm;
}

.sidebar .fravær-knap {
  padding-left: 22px;
  padding-top: 16px;
}

.sidebar .kalender-knap {
  padding-left: 23px;
  padding-top: 0.5cm;
}

.sidebar .besked-knap {
  padding-left: 23px;
  padding-top: 0.5cm;
}

.sidebar .opgave-knap {
  padding-left: 23px;
  padding-top: 0.5cm;
}

.sidebar .profil-knap {
  padding-left: 23px;
  padding-top: 0.5cm;
}

.sidebar .indstillinger {
  padding-left: 23px;
  padding-top: 0.5cm;
}

.topbar {
  background-color: #ffffff;
  border-bottom: solid;
  color: #47505e;
  border-color: #e7e7e7;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  border-width: 1px;
  font-size: 20px;
  padding-left: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.topbar .ikoner {
  position: relative;
  display: inline-block;
  list-style: none;
  padding-left: 75%;
}

.topbar .ikoner li {
  display: inline;
}

.topbar .søgikon, .topbar .notif, .topbar .prfico {
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  border-color: #e7e7e7;
}

.topbar .søgikon {
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 11px;
}

.topbar .notif {
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 9px;
}

.topbar .prfico {
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

ul li ul.profildropdown {
  min-width: 100%;
  /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  overflow: visible;
}

ul li:hover ul.profildropdown {
  display: block;
  /* Display the dropdown */
}

ul li ul.profildropdown li {
  display: block;
}
/*# sourceMappingURL=main.css.map */