$font: Roboto;
$border-farve: #e7e7e7;
$baggrunds-farve: #f8f9fb;
$tema-farve: #0168ff;
$shadow-farve: #c9c9c9;

body {
  background-color: $baggrunds-farve;
  font-family: $font;
  /* Standard skrifttype og baggrundsfarve */
}

h1 {
  color: $tema-farve;
  font-size: xx-large;
  /* Standard header med farven blå og skrifttypen Roboto */
}

p {
  color: #47505e;
  /* Standard paragraf med farven grå og skrifttypen Roboto */
}

#loginboks {
  width: 400px;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 1px 1px 3px $shadow-farve;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  /* Formatering til loginboksen */
}

#logo {
  text-align: center;
  max-width: 100%;
  height: auto;
}

input.inputtekst {
  border-radius: 16px;
  font-size: large;
  height: 30px;
  border-style: none;
  padding-left: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px $shadow-farve;
  /* Formatering til tekstfelter */
}

input.inputknap {
  border-radius: 16px;
  font-size: large;
  width: 200px;
  height: 30px;
  background-color: $tema-farve;
  color: #dfe1e6;
  border-style: none;
  font-family: $font;
  /* Formatering til knap */
}

.inputknap:hover {
  background-color: #0051c9;
  /* Farve til når mus er over knap */
}

.inputknap:focus {
  background-color: #0042a3;
  /* Farve når man klikker på knap */
}

.sidebar {
  background-color: $tema-farve;
  width: 66px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: auto;

  .min-logo {
    padding: 15px;
  }

  .hjem-knap {
    padding-left: 23px;
    padding-top: 6cm;
  }

  .fravær-knap {
    padding-left: 22px;
    padding-top: 16px;
  }

  .kalender-knap {
    padding-left: 23px;
    padding-top: 0.5cm;
  }

  .besked-knap {
    padding-left: 23px;
    padding-top: 0.5cm;
  }

  .opgave-knap {
    padding-left: 23px;
    padding-top: 0.5cm;
  }

  .profil-knap {
    padding-left: 23px;
    padding-top: 0.5cm;
  }

  .indstillinger {
    padding-left: 23px;
    padding-top: 0.5cm;
  }
}

.topbar {
  background-color: #ffffff;
  border-bottom: solid;
  color: #47505e;
  border-color: $border-farve;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  border-width: 1px;
  font-size: 20px;
  padding-left: 4em;
  padding-top: 10px;
  padding-bottom: 10px;

  .ikoner {
    display: inline-block;
    padding-left: 41cm;
    vertical-align: middle;

    .søg-ikon {
      padding-bottom: 10.5px;
      padding-top: 10px;
      padding-left: 11px;
      padding-right: 11px;

      /*
        box-shadow: 1px 1px 3px $shadow-farve;
      */

      border-radius: 12px;
      border: solid;
      border-width: 1px;
      border-color: $border-farve;
    }

    .notif-ikon {
      padding: 9px;

      /*
      box-shadow: 1px 1px 3px $shadow-farve;
      */

      border-radius: 12px;

      border: solid;
      border-width: 1px;
      border-color: $border-farve;
    }

    .profil-ikon {
      padding-top: 9.5px;
      padding-bottom: 9px;
      padding-left: 11px;
      padding-right: 11px;

      /*
      box-shadow: 1px 1px 3px $shadow-farve;
      */

      border-radius: 12px;

      border: solid;
      border-width: 1px;
      border-color: $border-farve;
    }
  }
}
